{% extends 'base.html' %} 

{% block extrahead %} 
<title>Crear Cuenta</title>
{% endblock extrahead%} 


{% block content %} 
<br>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body" style="background-color: rgb(219, 221, 223);">
                <h3 class="card-title text-center">Crear Cuenta</h3>
                  <form class="form" method="post">
                    {% csrf_token %} 
                    <div class="form-group">
						<label>Nombre de usuario</label>
						<input class="form-control" type="text" name="username">
					 </div>

                     <div class="form-group">
						<label>Nombre</label>
						<input class="form-control" type="text" name="nombre">
					 </div>

                     <div class="form-group">
						<label>Apellido</label>
						<input class="form-control" type="text" name="apellido">
					 </div>

                     <div class="form-group">
						<label>Correo</label>
						<input class="form-control" type="text" name="email">
					 </div>

                     <div class="form-group">
						<label>Contraseña</label>
						<input class="form-control" type="password" name="password1">
					 </div>

                     <div class="form-group">
						<label>Contraseña</label>
						<input class="form-control" type="password" name="password2">
					 </div>
            


                    <input type="submit" value="Crear cuenta" class="btn btn-primary btn-block">
                    <br>
                    <div class="sign-up">
                     ¿Ya tienes una cuenta? <a href="{% url 'iniciar_sesion'%}">Iniciar Sesión</a>
                    </div>
                   </form>
                </div>
            </div>
        </div>
    </div>
</div><br><br><br><br>
{% endblock content %} 


