{% extends 'base.html' %} 
{% load static %}
{% block extrahead %} 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css"> 
<link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css" media="screen,projection">

<title>Producto</title>
{% endblock extrahead%} 


{% block content %} 
<h2 style="text-align: center;">Hombre</h2>
<div class="container">
  <div class="row">
      <main id="items" class="col-sm-8 row"></main>
      <aside class="col-sm-4">
          <h2> <i class="	fas fa-shopping-cart"  ></i>Carrito de compras</h2>
          <ul id="carrito" class="list-group"></ul>
          <hr>

          <p class="text-right">Total: <span id="total"></p>
          <button id="boton-vaciar" class="btn btn-primary">Vaciar</button><br><br>
          <a href="https://www.facebook.com/profile.php?id=100010200340196" target="_parent"><button class="btn btn-primary">Efectuar compra</button></a>
          
      </aside>
  </div>
</div><br><br><br><br><br>

<script>
  const baseDeDatos = [
          {
              id: 1,
              nombre: 'Cumpleaños con numero',
              precio: 250000,
              imagen: "{% static 'img/hombre2.jpg' %}",
              descripcion: 'decoracion con puerta'
          },
          {
              id: 2,
              nombre: 'Cumpleaños hombre',
              precio: 200000,
              imagen: "{% static 'img/img4.jpg' %}",
              descripcion: 'decoracion con circulo'
          },
          {
              id: 10,
              nombre: 'Decoracion Casa de Papel',
              precio: 200000,
              imagen: "{% static 'img/img5.jpg' %}",
              descripcion: 'decoracion con cortinas '
          }
  
      ];
  </script>
  
  <script src="{% static 'js/producto.js' %}"></script>

{% endblock content %}